.position-picker.pp-show .pp-input {
	border-color: #60b1f5;
	border-bottom: transparent 1px solid;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.position-picker.pp-show .pp-dropdown {
	display: block;
	top: 101%;
	border-top: transparent 1px solid;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.position-picker.pp-show .pp-input:after {
	content: "\f0d8";
}
.position-picker .pp-input {
	position: relative;
	display: inline-block;
	min-width: 270px;
	padding: 6px 30px 6px 5px;
	color: #202020;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: #c3c3c3 1px solid;
	background-color: #ffffff;
}
.position-picker .pp-input:after {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	top: 0;
	right: 0;
	content: "\f0d7";
	text-align: center;
	line-height: 30px;
	font-family: FontAwesome;
}
.position-picker .pp-dropdown {
	position: absolute;
	display: none;
	width: 301px;
	margin-left: -1px;
	padding: 2px;
	top: 100px;
	left: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-transition: top 0.4s ease;
	-moz-transition: top 0.4s ease;
	-ms-transition: top 0.4s ease;
	-o-transition: top 0.4s ease;
	border: 1px solid #60b1f5;
	background-color: #ffffff;
	z-index: 2;
}
.position-picker .pp-dropdown label {
	display: block;
	width: 100px;
	height: 35px;
	float: left;
	cursor: pointer;
	color: #ffffff;
	border: 1px dashed #f5f5f5;
	background-color: #dddddd;
	box-sizing: border-box;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
}
.position-picker .pp-dropdown label:hover {
	background-color: #cccccc;
}

.position-picker .pp-dropdown input[type="radio"] {
	display: none;
}

.position-picker .pp-dropdown input[type="radio"]:checked + label {
	border: 1px solid #f5f5f5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #60b1f5;
}

.position-picker .pp-dropdown input[type="radio"]:checked + label:before {
	display: block;
	content: "\f00c";
	text-align: center;
	line-height: 30px;
	font-family: FontAwesome;
}
.position-picker:before,
.position-picker:after {
	display: table;
	content: " ";
}
.position-picker:after {
  clear: both;
}
button {
	line-height: 48px;
	font-size: 14px;
	font-weight: 600;
	padding: 0 15px;
	background-color: #52e4b3;
	border-radius: 10px;
	border: none;
	color: #fff;
	cursor: pointer;
	text-shadow: 0 0 1px rgba(0,0,0,0.3);
	box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
}
.btn-footer {
	position: absolute;
	display: block;
	width: 100%;
	bottom: 0;
}
